{% extends 'councils_members/base.html' %}
{% block title %}Про сайт{% endblock %}
{% block content %}
    <h2 class="text-center">STATKYDEPIV.ORG.UA</h2>
    <div class="col-sm-6 col-sm-offset-3">

        <p class="lead text-center">допоможе Вам виокремити декларації депутатів місцевих рад з-поміж мільйона
            інших</p>

        <div class="text-justify">
            <p>Точність не абсолюта, але наближається до, скажімо, 95%:)</p>

            <p>Е-декларації - гаряча тема, а ми знаємо багатьох, кому цікаві саме місцеві ради. Проте, коли ми
                спробували
                знайти декларації депутатів на <a href="https://public.nazk.gov.ua/" target="_blank">сайті НАЗК</a>, це
                виявилося серйозною проблемою. Депутат місцевої ради - не посадова особа. Втім навіть якщо депутати і
                вказували про свій представницький мандат, то робили це в абсолютно довільній формі, що в сукупності з
                іншими дрібницями не дозволяє ознайомитися з потрібними документами.
            </p>

            <p>Почніть вводити в пошук назву ради, сервіс запропонує її і видасть усіх депутатів з посиланнями на їхні
                декларації. Якщо декларацію депутата вдалося знайти, він буде виділений зеленим.</p>

            <p>Ми хотіли зробити простий та зручний сервіс, але портал НАЗК працює настільки нестабільно, що далеко
                зайти не можемо. Якщо реєстр видає 502 - запасіться терпінням та спробуйте пізніше, ми на це вплинути не
                можемо.</p>

            <p>Хочете поговорити? - <a href="mailto:ivan@kiliian.com">ivan@kiliian.com</a></p>

            <p><a href="https://github.com/ivkil/MC-Declarations" target="_blank">Код проекту.</a> На випадок долучитись
                і доробити нові функції.</p>

            <p>Іван</p>
        </div>
    </div>

{% endblock %}