{% extends 'councils_members/base.html' %}
{% block title %}Про сайт{% endblock %}
{% block content %}
    <h2 class="text-center">STATKYDEPIV.ORG.UA</h2>
    <div class="col-sm-6 col-sm-offset-3">

        <p class="lead text-center">допоможе Вам виокремити декларації депутатів місцевих рад з-поміж мільйона
            інших</p>

        <div class="text-justify">
            <p>Точність не абсолюта, але наближається до, скажімо, 95%:)</p>

            <p>Е-декларації - гаряча тема, а ми знаємо багатьох, кому цікаві саме місцеві ради. Проте, коли ми
                спробували знайти декларації депутатів на <a href="https://public.nazk.gov.ua/" target="_blank">
                    сайті НАЗК</a>, це виявилося серйозною проблемою. Депутат місцевої ради - не посадова особа.
                Навіть якщо депутати і згадували про свій представницький мандат, то робили це в абсолютно довільній
                формі, що в сукупності з іншими дрібницями не дозволяє ознайомитися з потрібними документами.
            </p>

            <p>Введіть у пошук назву ради, сервіс запропонує її та видасть усіх депутатів з посиланнями на їхні
                декларації. Якщо щорічну або уточнену е-декларацію депутата за 2016 рік вдалося знайти, він буде
                виділений зеленим.</p>

            <p>Хочете поговорити? - <a href="mailto:statkydepiv@gmail.com">statkydepiv@gmail.com</a></p>

            <p><a href="https://github.com/ivkil/MC-Declarations" target="_blank">Код проекту.</a> На випадок долучитись
                і доробити нові функції.</p>

            <p>Окрема подяка сайту <a href="https://declarations.com.ua/" target="_blank">declarations.com.ua.</a></p>

            <p>Іван</p>
        </div>
    </div>

{% endblock %}