{% extends 'councils_members/base.html' %}
{% block title %}Як "поживає" твоя рада?{% endblock %}
{% block content %}
    <h1 class="text-center">{{ council.title }}</h1>
    <h5 class="text-center">{{ council.region.title }}</h5>
    <br>
    <ul class="list-group">
        {% for mc in council.membercouncil_set.all %}
            {% if mc.declaration %}
                <a href="{{ mc.declaration.link_nacp }}" target="_blank"
                   class="list-group-item list-group-item-success">
                    {{ mc.name }}
                </a>
            {% else %}
                <li class="list-group-item">{{ mc.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="modal-footer">Зустріли невідповідність? <a
            href="mailto:statkydepiv@gmail.com?subject=Невідповідність {{ council.title }}">Напишіть</a> нам.
    </div>
{% endblock %}